<.header>
  Server <%= @server.id %>
  <:subtitle>This is a server record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/servers/#{@server}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit server</.button>
    </.link>
  </:actions>
</.header>

<.list>
</.list>

<.back navigate={~p"/servers"}>Back to servers</.back>

<.modal :if={@live_action == :edit} id="server-modal" show on_cancel={JS.patch(~p"/servers/#{@server}")}>
  <.live_component
    module={BoxboxboxWeb.ServerLive.FormComponent}
    id={@server.id}
    title={@page_title}
    action={@live_action}
    server={@server}
    patch={~p"/servers/#{@server}"}
  />
</.modal>
