<.header>
  Event json <%= @event_json.id %>
  <:subtitle>This is a event_json record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/event_jsons/#{@event_json}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit event_json</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Preracewaitingtimeseconds"><%= @event_json.preRaceWaitingTimeSeconds %></:item>
  <:item title="Sessionovertimeseconds"><%= @event_json.sessionOverTimeSeconds %></:item>
  <:item title="Ambianttemp"><%= @event_json.ambiantTemp %></:item>
  <:item title="Cloudlevel"><%= @event_json.cloudLevel %></:item>
  <:item title="Rain"><%= @event_json.rain %></:item>
  <:item title="Weatherrandomness"><%= @event_json.weatherRandomness %></:item>
  <:item title="Postqualyseconds"><%= @event_json.postQualySeconds %></:item>
  <:item title="Postraceseconds"><%= @event_json.postRaceSeconds %></:item>
  <:item title="Metadata"><%= @event_json.metaData %></:item>
</.list>

<.back navigate={~p"/event_jsons"}>Back to event_jsons</.back>

<.modal :if={@live_action == :edit} id="event_json-modal" show on_cancel={JS.patch(~p"/event_jsons/#{@event_json}")}>
  <.live_component
    module={BoxboxboxWeb.EventJSONLive.FormComponent}
    id={@event_json.id}
    title={@page_title}
    action={@live_action}
    event_json={@event_json}
    patch={~p"/event_jsons/#{@event_json}"}
  />
</.modal>
