<.header>
  Track <%= @track.id %>
  <:subtitle>This is a track record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/tracks/#{@track}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit track</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @track.name %></:item>
</.list>

<.back navigate={~p"/tracks"}>Back to tracks</.back>

<.modal :if={@live_action == :edit} id="track-modal" show on_cancel={JS.patch(~p"/tracks/#{@track}")}>
  <.live_component
    module={BoxboxboxWeb.TrackLive.FormComponent}
    id={@track.id}
    title={@page_title}
    action={@live_action}
    track={@track}
    patch={~p"/tracks/#{@track}"}
  />
</.modal>
