<.header>
  Listing Event rule jsons
  <:actions>
    <.link patch={~p"/event_rule_jsons/new"}>
      <.button>New Event rule json</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="event_rule_jsons"
  rows={@streams.event_rule_jsons}
  row_click={fn {_id, event_rule_json} -> JS.navigate(~p"/event_rule_jsons/#{event_rule_json}") end}
>
  <:col :let={{_id, event_rule_json}} label="Pitwindowlengthsec"><%= event_rule_json.pitWindowLengthSec %></:col>
  <:col :let={{_id, event_rule_json}} label="Driverstinttimesec"><%= event_rule_json.driverStintTimeSec %></:col>
  <:col :let={{_id, event_rule_json}} label="Mandatorypitstopcount"><%= event_rule_json.mandatoryPitstopCount %></:col>
  <:col :let={{_id, event_rule_json}} label="Maxtotaldrivingtime"><%= event_rule_json.maxTotalDrivingTime %></:col>
  <:col :let={{_id, event_rule_json}} label="Maxdriverscount"><%= event_rule_json.maxDriversCount %></:col>
  <:col :let={{_id, event_rule_json}} label="Isrefuellingallowedinrace"><%= event_rule_json.isRefuellingAllowedInRace %></:col>
  <:col :let={{_id, event_rule_json}} label="Isrefuellingtimefixed"><%= event_rule_json.isRefuellingTimeFixed %></:col>
  <:col :let={{_id, event_rule_json}} label="Ismandatorypitstoprefuellingrequired"><%= event_rule_json.isMandatoryPitstopRefuellingRequired %></:col>
  <:col :let={{_id, event_rule_json}} label="Ismandatorypitstoptyrechangerequired"><%= event_rule_json.isMandatoryPitstopTyreChangeRequired %></:col>
  <:col :let={{_id, event_rule_json}} label="Ismandatorypitstopswapdriverrequired"><%= event_rule_json.isMandatoryPitstopSwapDriverRequired %></:col>
  <:col :let={{_id, event_rule_json}} label="Tyresetcount"><%= event_rule_json.tyreSetCount %></:col>
  <:action :let={{_id, event_rule_json}}>
    <div class="sr-only">
      <.link navigate={~p"/event_rule_jsons/#{event_rule_json}"}>Show</.link>
    </div>
    <.link patch={~p"/event_rule_jsons/#{event_rule_json}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, event_rule_json}}>
    <.link
      phx-click={JS.push("delete", value: %{id: event_rule_json.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="event_rule_json-modal" show on_cancel={JS.patch(~p"/event_rule_jsons")}>
  <.live_component
    module={BoxboxboxWeb.EventRuleJSONLive.FormComponent}
    id={@event_rule_json.id || :new}
    title={@page_title}
    action={@live_action}
    event_rule_json={@event_rule_json}
    patch={~p"/event_rule_jsons"}
  />
</.modal>
