<.header>
  Listing Assist rule jsons
  <:actions>
    <.link patch={~p"/assist_rule_jsons/new"}>
      <.button>New Assist rules json</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="assist_rule_jsons"
  rows={@streams.assist_rule_jsons}
  row_click={fn {_id, assist_rules_json} -> JS.navigate(~p"/assist_rule_jsons/#{assist_rules_json}") end}
>
  <:col :let={{_id, assist_rules_json}} label="Stabilitycontrollevelmax"><%= assist_rules_json.stabilityControlLevelMax %></:col>
  <:col :let={{_id, assist_rules_json}} label="Disableautosteer"><%= assist_rules_json.disableAutosteer %></:col>
  <:col :let={{_id, assist_rules_json}} label="Disableautolights"><%= assist_rules_json.disableAutoLights %></:col>
  <:col :let={{_id, assist_rules_json}} label="Disableautowiper"><%= assist_rules_json.disableAutoWiper %></:col>
  <:col :let={{_id, assist_rules_json}} label="Disableautoenginestart"><%= assist_rules_json.disableAutoEngineStart %></:col>
  <:col :let={{_id, assist_rules_json}} label="Disableautopitlimiter"><%= assist_rules_json.disableAutoPitLimiter %></:col>
  <:col :let={{_id, assist_rules_json}} label="Disableautoclutch"><%= assist_rules_json.disableAutoClutch %></:col>
  <:col :let={{_id, assist_rules_json}} label="Disableautogear"><%= assist_rules_json.disableAutoGear %></:col>
  <:col :let={{_id, assist_rules_json}} label="Disableidealline"><%= assist_rules_json.disableIdealLine %></:col>
  <:action :let={{_id, assist_rules_json}}>
    <div class="sr-only">
      <.link navigate={~p"/assist_rule_jsons/#{assist_rules_json}"}>Show</.link>
    </div>
    <.link patch={~p"/assist_rule_jsons/#{assist_rules_json}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, assist_rules_json}}>
    <.link
      phx-click={JS.push("delete", value: %{id: assist_rules_json.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="assist_rules_json-modal" show on_cancel={JS.patch(~p"/assist_rule_jsons")}>
  <.live_component
    module={BoxboxboxWeb.AssistRulesJSONLive.FormComponent}
    id={@assist_rules_json.id || :new}
    title={@page_title}
    action={@live_action}
    assist_rules_json={@assist_rules_json}
    patch={~p"/assist_rule_jsons"}
  />
</.modal>
